/* Basic styling */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    color: #e6e6e6;
    font-family: 'Cormorant Garamond', serif; /* An elegant, Gothic-style font */
    background-color: #121212; /* Dark background for eerie atmosphere */
}

header {
    text-align: center;
    padding: 20px;
    color: #c9b99e;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.character-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Character Card Styles */
.character-card {
    background-color: #1b1b1b;
    border: 2px solid #705d56;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s;
}

.character-card:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    border-color: #9d9473;
}

.character-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.character-card h3 {
    font-size: 1.5em;
    color: #d4cfc3;
    text-align: center;
}

.character-card p, .character-card ul {
    font-size: 0.9em;
    color: #e6e6e6;
    line-height: 1.5;
}

.character-card ul {
    list-style-type: none;
    padding: 0;
}

.character-card.disabled {
    opacity: 0.5; /* Make the card look faded */
    pointer-events: none; /* Prevent any interaction */
}

.status-alive {
    color: #52be80; 
}

.status-dying {
    color: #e74c3c; 
}

.status-rest {
    color: #f5b041; 
}

.status-high {
    color: #a569bd; 
}

.status-dead {
    color: #7f8c8d; 
}

.red-pill {
    color: #C4554D; 
    background-color: #FAECEC;
}

.green-pill {
    color: #548164; 
    background-color: #EEF3ED;
}

.yellow-pill {
    color: #C29343; 
    background-color: #FAF3DD;
}

.blue-pill {
    color: #487CA5; 
    background-color: #E9F3F7;
}

.orange-pill {
    color: #CC782F; 
    background-color: #F8ECDF;
}

.purple-pill {
    color: #8B5A9F; 
    background-color: #F3E8F5;
}

.brown-pill {
    color: #8B6F47; 
    background-color: #F5F0E8;
}

.gray-pill {
    color: #6B6B6B; 
    background-color: #F0F0F0;
}



/* Footer Styling */
footer {
    text-align: center;
    border-top: 1px solid #4a4a4a;
    font-size: 12px;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #f0f0f0;
    text-shadow:  2px 2px 1px rgba(121, 116, 116, 0.9);    
}

/* Flat Button Styling */
.flat-button {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    background-color: transparent; /* Flat style */
    border: 2px solid #c9b99e; /* Border color */
    color: #c9b99e; /* Text color */
    padding: 12px 24px; /* Padding */
    font-size: 1em; /* Font size */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s, color 0.3s; /* Transition for hover effect */
    border-radius: 4px; /* Rounded corners */
    height: 50px; /* Set a fixed height for the button */
}

.flat-button:hover {
    background-color: #705d56;
    color: #1b1b1b;
    border-color: #9d9473;
}

.flat-button:disabled {
    background-color: #555; /* Darker background for disabled state */
    color: #ccc; /* Lighter text color for disabled state */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
}

.challenge-button-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center children vertically */
    align-items: center; /* Center children horizontally */
    padding: 20px;
}

/* Button with logo inside */
button img {
max-width: 20px;
margin-right: 10px; 
margin-left: 10px; 
margin-bottom: 5px;
margin-top: 5px;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
}
.modal-content {
    background-color: #1b1b1b;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #705d56;
    border-radius: 8px;
    width: 400px; /* Could be more or less, depending on screen size */
    text-align: center;
}
.close-button {
    background: none;
    border: none;
    color: #c9b99e;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
}

.activity-log-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

#activity-log {
    width: 70%;
    height: 150px;
    background-color: #1b1b1b; /* Dark background */
    color: #e6e6e6; /* Light text color */
    border: 1px solid #4a4a4a; /* Border color */
    border-radius: 5px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace; /* Monospace font for terminal look */
    resize: none; /* Disable resizing */
    overflow-y: auto; /* Enable vertical scrolling */
}
