<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" type="image/x-icon">
    <title>Survivor Soul RPG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body class="lovecraft-theme">
    <header>
        <h1>Survivor Soul RPG</h1>
        <h2>Choose Your Survivor</h2>
    </header>
    
    <main class="container">
        <div class="character-grid">
            <!-- Dynamically render character cards -->
            {% for character in characters %}
            <div class="character-card" data-character-id="{{ character.id }}" data-character-hp="{{ character.hp }}">
                <img src="{{ character.picture }}" alt="{{ character.name }}">
                <h3>{{ character.name }}</h3>
                <h4>Level: {{ character.level }} | {{ character.status }}</h4>
                <p>XP: {{ character.xp }} / {{ character.max_xp }}</p>
                <p>🫀: {{ character.hp }} / {{ character.max_hp }}</p>
                <p>🧠: {{ character.sanity }} / {{ character.max_sanity }}</p>
                <p>Attack: {{ character.attack }}</p>
                <p>Defense: {{ character.defense }}</p>
                <p>Magic: {{ character.magic }}</p>
                <p>🪙: ${{ character.coins }}</p>
                <p>Inventory:</p>
                <ul>
                    {% for item in character.inventory %}
                        <li>{{ item }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
        <!-- Modal for Adventure Details -->
        <div id="adventure-modal" class="modal">
            <div class="modal-content">
                <button class="close-button" onclick="closeModal()">X</button>
                <h2>Adventure Details</h2>
                <p id="adventure-info">Loading...</p>
            </div>
        </div>

        <!-- Button for Challenges -->
        <div class="challenge-button-container">
            <button id="challenges-button" class="flat-button"><img src="{{ url_for('static', filename='img/notion-logo.png') }}" alt="Notion">Click for Challenges in Week&nbsp;<b><span id="week-number"></span></b></button>
        </div>    
        <!-- Button for Underworld -->
        <div class="challenge-button-container">
            <button id="underworld-button" class="flat-button" disabled><img src="{{ url_for('static', filename='img/underworld-logo.png') }}" alt="Underworld">Underworld Deadventures&nbsp;<b><span id="dead-people"></span></b></button>
        </div>    
    </main>
    <footer>
        &copy; <span id="current-year"></span> Survivor Soul RPG - Version <span id="version-number"></span>
    </footer>
</body>
</html>